.container{
    width: fit-content;
    height: 96vh;
    margin:3px auto;
}

.map-cont{
    width: fit-content;
    float:left;
}

.map-cont svg{
    height: 99vh;
    padding-right: 30px;
}

.text-container{
    width: fit-content;
    float:left;
    height: 98vh;
    background: linear-gradient(45deg, #1d9d96, transparent);
    overflow-y: scroll;
    width: 260px;
}

.text-container h2{
    font-size: 14px;
    background-color: #055258;
    text-transform: uppercase;
    color:white;
    padding: 4px 0px;
    margin-top:0px;
    min-width: 180px;
    text-align: center;
}

/* Աջափնյակ, Դավիթաշեն, Արաբկիր, Քանաքեռ զեյթուն, Ավան */
.st1,  /* Աջափնյակ */
.st6,  /* Դավիթաշեն */
.st20, /* Արաբկիր */
.st8,  /* Քանաքեռ զեյթուն */
.st10, /* Ավան */
.st16, /* Մալաթիա Սեբաստիա */
.st11,  /* Կենտրոն */
.st12,  /* Նորք Մարաշ */
.st14,  /* Էրեբունի */
.st145,  /* Նոր Նորք */
.st15,  /* Շենգավիթ */
.st12 /* Նուբարաշեն */
{
    opacity: 0.8;
    cursor: pointer;
}

.st1:hover,
.st6:hover,
.st20:hover,
.st8:hover,
.st10:hover,
.st16:hover,
.st11:hover,
.st12:hover,
.st14:hover,
.st145:hover,
.st15:hover,
.st12:hover
{
    opacity: 1;
}

#texts p {
    font-size: 13px;
    padding: 0 10px 10px 10px;
    border-bottom: solid 1px #f8f3f3;
}